---
- name: 'Install packages'
  ansible.builtin.yum:
    name: epel-release
    state: present

- name: 'Install packages'
  ansible.builtin.yum:
    name: "{{ borg_packages }}"
    state: present

- name: 'Add backup user'
  ansible.builtin.user:
    name: "{{ borg_user }}"
    groups: wheel
    password: "{{ user_password | password_hash('sha512')}}"
    state: present

- name: 'Create ssh key'
  ansible.builtin.openssh_keypair:
    path: "/home/{{ borg_user }}/.ssh/id_rsa"
    type: rsa
    size: 2048
    state: present
    mode: "0700"
    force: true

- name: 'Ensure .ssh directory exists for borg user'
  ansible.builtin.file:
    path: "/home/{{ borg_user }}/.ssh"
    state: directory
    recurse: yes
    owner: "{{ borg_user }}"
    group: "{{ borg_group }}"

- name: 'Deploy ssh public key'
  ansible.builtin.shell:
    cmd: "sshpass -p {{ user_password }} ssh-copy-id -i /home/{{ borg_user }}/.ssh/id_rsa.pub -o StrictHostKeyChecking=no {{ borg_user }}@{{ backup_server }}"
