---
# tasks file for prometheus-exporter
- name: 'Create prometheus account'
  ansible.builtin.user:
    name: "{{ prometheus_account }}"
    shell: /sbin/nologin
    system: true
    state: present

- name: 'Download exporter source'
  ansible.builtin.unarchive:
    src: "{{ exporter_packages }}"
    dest: /usr/local/
    owner: "{{ prometheus_account }}"
    group: "{{ prometheus_account }}"
    remote_src: true

- name: 'Rename exporter directory'
  ansible.builtin.shell: "mv /usr/local/{{ base_dir }} {{ exporter_directory }}"

- name: "Deploy /usr/lib/systemd/system/{{ exporter_service }}.service"
  ansible.builtin.template:
    src: exporter.service.j2
    dest: "/usr/lib/systemd/system/{{ exporter_service }}.service"
    owner: root
    group: root
    mode: '0755'
  notify: Restart exporter

- name: 'Add prometheus account in my.cnf'
  ansible.builtin.blockinfile:
    path: /etc/my.cnf
    block: |
      [client]
      user=prometheus
      password=centos
  when: option_key == 1

- name: "Deploy prometheus.yml"
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: "{{ exporter_directory }}/prometheus.yml"
    owner: "{{ prometheus_account }}"
    group: "{{ prometheus_account }}"
    mode: '0644'
  when: option_key == 3

- name: Add service for firewalld
  ansible.posix.firewalld:
    port: "{{ item }}"
    permanent: true
    immediate: true
    state: enabled
  loop:
    - "{{ exporter_port }}/tcp"
